.button
{
    -fx-background-color:
            linear-gradient(#ff9f31,#ff9424),
            radial-gradient(center 50% -40%, radius 200%, #ff9f31 45%, #ff9424 50%);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
    -fx-text-fill: black;
}

.button:hover
{
    -fx-background-color:
            linear-gradient(#ff9424,#ff9f31),
            radial-gradient(center 50% -40%, radius 200%, #ff9424 45%, #ff9f31 50%);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
    -fx-text-fill: black;

}
