.scroll-pane
{
    -fx-background-color:  rgba(21, 20, 19, 1);
    -fx-border-color: derive(gray,100%);
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar:vertical
{
    -fx-background-color:  rgba(21, 20, 19, 1);
    -fx-background-radius: 0;
}

.scroll-pane .scroll-bar:vertical .track
{
    -fx-background-color:  rgba(21, 20, 19, 1);
    -fx-border-color:  rgba(21, 20, 19, 1);
    -fx-background-radius: 0;
    -fx-border-radius: 2;
}

.scroll-pane .scroll-bar:vertical .decrement-button
{
    -fx-background-color:  rgba(21, 20, 19, 1);
    -fx-background-radius: 0;
    -fx-padding: 0 0 10 0;
}

.scroll-pane .scroll-bar:vertical .decrement-button
{
    -fx-background-color:  rgba(21, 20, 19, 1);
    -fx-background-radius: 0;
    -fx-padding: 0 10 0 0;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow
{
    -fx-padding: -2;
}

.scroll-pane .scroll-bar:vertical .thumb
{
    -fx-background-color: derive(black, 30%);
    -fx-background-insets: 2 0 0;
    -fx-background-radius: 2;
}